fastapi==0.103.1
uvicorn==0.23.2
ipython==8.5.0
joblib==1.3.2
lightgbm==4.0.0
matplotlib==3.6.3
numpy==1.23.3
pandas==2.1.0
plotly==5.10.0
requests==2.28.1
scikit-learn==1.2.2
shap==0.42.1
streamlit==1.24.1
streamlit-shap==1.0.2
mlflow==2.5.0
cffi==1.15.1
cloudpickle==2.2.1
defusedxml==0.7.1
graphviz==0.20.1
#lightgbm==4.0.0
#matplotlib==3.6.3
#numpy==1.23.3
packaging==23.0
#pandas==2.1.0
psutil==5.9.2
#scikit-learn==1.2.2
scipy==1.9.3